<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fabian Trevino @(string.IsNullOrEmpty(ViewData["Title"]?.ToString()) ? "" : $"- {ViewData["Title"]}")</title>
    <link rel="stylesheet" href="~/dist/bundle.css" />
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <div id="header-container" class="container-lg">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <a href="/"><img src="~/assets/banner.png" class="img-fluid" alt="banner"></a>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand d-md-none" href="#">Menu</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-around" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Projects
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="/SiteProject">Personal site</a>
                                        @*<a class="dropdown-item" href="/WalletProject">Wallet web app</a>*@
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </header>
    <div class="container-lg">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div id="footer-container" class="container-lg">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <p>all work © Fabian Trevino 2018 - 2021 • all rights reserved</p>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <a href="mailto:contact@fabiantrevino.dev">
                        <img src="~/assets/email-1.svg" alt="mail icon" class="footer-icon">
                    </a>
                    <a href="https://www.linkedin.com/in/fabian-trevino/" target="_blank" rel="noopener noreferrer">
                        <img src="~/assets/linkedin-3.svg" alt="linkedin icon" class="footer-icon">
                    </a>
                    <a href="https://github.com/Buyooo" target="_blank" rel="noopener noreferrer">
                        <img src="~/assets/github-1.svg" alt="github icon" class="footer-icon">
                    </a>
                </div>
            </div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
