<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fabian Trevino @(string.IsNullOrEmpty(ViewData["Title"]?.ToString()) ? "" : $"- {ViewData["Title"]}")</title>
    <link rel="stylesheet" href="~/dist/bundle.css" />
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <div id="header-container" class="container-lg">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <img src="~/assets/banner-placeholder.png" class="img-fluid" alt="banner">
                </div>
            </div>
        </div>
    </header>
    <div class="container-lg">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div id="footer-container" class="container-lg">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <p>all work © Fabian Trevino 2018 - 2021 • all rights reserved</p>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <a href="mailto:contact@fabiantrevino.dev">
                        <img src="~/assets/email-1.svg" alt="mail icon" class="footer-icon">
                    </a>
                    <a href="https://www.linkedin.com/in/fabian-trevino/" target="_blank" rel="noopener noreferrer">
                        <img src="~/assets/linkedin-3.svg" alt="linkedin icon" class="footer-icon">
                    </a>
                    <a href="https://github.com/Buyooo" target="_blank" rel="noopener noreferrer">
                        <img src="~/assets/github-1.svg" alt="github icon" class="footer-icon">
                    </a>
                </div>
            </div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
