@page
@model IndexModel
@{ 
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col">
        <h4 class="text-center">About me</h4>

        <div class="d-flex justify-content-center">
            <div id="portrait">
                <img src="~/assets/portrait.jpg" class="img-fluid rounded" alt="Fabian portrait" />
            </div>
        </div>

        <p>
            Hello, my name is Fabian. I'm a software developer currently working on web applications using primarily a Windows-based stack and the .NET ecosystem.
        </p>

        <p>
            I have a bachelor's degree in Chemical Engineering and Business Information Technology. I love coding, creating stuff, learning new things, spending time with my family, and playing chess.
        </p>
    </div>
</div>