@page
@model IndexModel
@{ 
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col">
        <h3 class="text-center">About me</h3>

        <p>
            Lucas ipsum dolor sit amet darth solo ventress mara luke grievous hutt coruscant boba boba. Ewok lobot jango leia. Dooku jabba han darth grievous hoth yoda mustafar calamari. Organa boba ponda calrissian luuke jango calrissian darth. Thrawn lobot bothan aayla yavin darth r2-d2 leia. Darth obi-wan kenobi moff mustafar mandalore obi-wan ewok jabba. Kamino vader fett ackbar mon yavin luuke. Skywalker hutt amidala boba hutt maul cade calamari. Hoth r2-d2 dagobah hutt qui-gonn skywalker. Hutt wedge binks obi-wan mon.
        </p>

        <p>
            Skywalker thrawn jinn tatooine bespin chewbacca. Wedge tatooine antilles calrissian lobot ewok. Hutt dagobah mara twi'lek jade yoda tatooine. Grievous hutt anakin zabrak ponda dooku darth ponda. Secura kit mara amidala. Darth leia solo zabrak coruscant palpatine solo skywalker fett. Jinn jinn gamorrean kashyyyk jar jar organa kessel amidala. Solo darth mon tusken raider ben moff organa. Solo maul kit ventress kit skywalker mandalore vader. Mara skywalker chewbacca tusken raider organa tatooine darth hoth.
        </p>
    </div>
</div>