@page
@model FabianTrevinoDev.Pages.SiteProjectModel
@{
    ViewData["Title"] = "Projects";
}

<div class="row">
    <div class="col">
        <h4 class="text-center">Personal website project</h4>

        <p>
            I created this site using ASP.Net Core. It is hosted on a self-managed virtual private server (VPS).
        </p>
        <p>
            It's a simple website made up of HTML, SCSS, Javascript, and bootstrap for responsive design.

            Here's the repo on GitHub: <a href="https://github.com/Buyooo/FabianTrevinoDev" target="_blank" rel="noopener noreferrer">FabianTrevino.dev</a>
        </p>
    </div>
</div>